html {
	font-size: 10px;
}

body {
	background: #171717;
}

h1 {
	font-size: 2.8rem;
	font-weight: 600;
	color: white;
}

h2 {
	font-size: 1.6rem;
	font-weight: 800;
	color: #BBBBBB;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	color: white;
}

span {
	font-size: 1.8rem;
	font-weight: 300;
	color: #8B8B8B;
}