.quote {
	margin: 4rem 0 6rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	span {
		width: 75%;
		line-height: 150%;
	}
}

.start {
	margin-top: 6rem;
	display: flex;
	justify-content: center;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		color: white;
		border: 2px solid $secondary;
		width: 12vw;
		height: 12vw;
		border-radius: 50%;
	}
}

.steps {
	margin-top: 8rem;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;

		p {
			width: 75%;
			line-height: 150%;
			color: #5D5D5D;

			&.is-active {
				color: $primary;
				font-weight: 600;
			}
		}

	}
}